


<div class="screen LoginLayout" style="display: none;" data-bind="css: {'with_bottom_text': sBottomInfoHtmlText !== ''}">
	<div class="login_panel login">
		<div class="login_panel_content" style="backface-visibility: inherit;">
			<div class="header" data-bind="css: {'custom_logo': sCustomLogoUrl}">
				<!-- ko if: sCustomLogoUrl === '' --><span class="icon"></span><!-- /ko -->
				<!-- ko if: sCustomLogoUrl !== '' --><img class="icon" data-bind="attr: {'src': sCustomLogoUrl}"/><!-- /ko -->
				<span class="text" data-bind="i18n: {'key': '%MODULENAME%/HEADING_SIGNUP'}"></span>
			</div>
			<div class="welcome" data-bind="html: welcomeText"></div>
			<div class="content login clearfix">
				<form class="form fields" action="#" autocomplete="on" onsubmit="return false;" data-bind="command: signupCommand">
					<!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
					<div style="width: 0px; height: 0px; overflow: hidden;">
						<input type="text" name="fakeusernameremembered"/>
						<input type="password" name="fakepasswordremembered"/>
					</div>
					<div class="fieldset">
						<div class="row name" data-bind="css: {'focused': nameFocus(), 'filled': name().length > 0, shake: shake()}">
							<label for="selenium_signup_name" class="placeholder"></label>
							<span class="value">
								<input id="selenium_signup_name" tabindex="1" class="input" name="name" type="text" spellcheck="false"
									   data-bind="value: name, hasfocus: nameFocus, valueUpdate: 'afterkeydown', 
										i18n: {'key': 'COREWEBCLIENT/LABEL_NAME', 'type': 'placeholder'}, enable: enableNameEdit" />
							</span>
						</div>
						<div class="row login" data-bind="css: {'focused': loginFocus(), 'filled': login().length > 0, shake: shake()}">
							<label for="selenium_signup_login" class="placeholder"></label>
							<span class="value">
								<input id="selenium_signup_login" tabindex="1" class="input" name="login" type="text" spellcheck="false"
									   data-bind="value: login, hasfocus: loginFocus, valueUpdate: 'afterkeydown', 
										i18n: {'key': 'COREWEBCLIENT/LABEL_LOGIN', 'type': 'placeholder'}, enable: enableLoginEdit" />
							</span>
							<span class="signup-domain-list">
								@
								<span class="value" data-bind="visible: aDomainList().length > 1">
									<select class="value input" data-bind="options: aDomainList, value: sSelectedDomain"
										style="background-color: #fff; border: 1px solid #cac7c7!important; border-radius: 4px 0px 0px 4px;"></select>
								</span>
								<span class="value" data-bind="visible: aDomainList().length === 1, text:aDomainList()[0]"></span>
							</span>
						</div>
						<div class="row password" data-bind="css: {'focused': passwordFocus(), 'filled': password().length > 0, shake: shake()}">
							<label for="selenium_signup_password" class="placeholder"></label>
							<span class="value">
								<input tabindex="2" class="input" name="password" autocomplete="new-password" type="password" spellcheck="false"
									   data-bind="value: password, hasfocus: passwordFocus, valueUpdate: 'afterkeydown', i18n: {'key': 'COREWEBCLIENT/LABEL_PASSWORD', 'type': 'placeholder'}" />
							</span>
						</div>
						<div class="row password" data-bind="css: {'focused': confirmPasswordFocus(), 'filled': confirmPassword().length > 0, shake: shake()}">
							<label for="selenium_signup_confirm_password" class="placeholder"></label>
							<span class="value">
								<input tabindex="2" class="input" name="confirmPassword" autocomplete="new-password" type="password" spellcheck="false"
									   data-bind="value: confirmPassword, hasfocus: confirmPasswordFocus, valueUpdate: 'afterkeydown', i18n: {'key': 'COREWEBCLIENT/LABEL_CONFIRM_PASSWORD', 'type': 'placeholder'}" />
							</span>
						</div>
					</div>
					<!-- ko foreach: beforeButtonsControllers -->
						<!-- ko template: { name: $data.ViewTemplate, data: $data} --><!-- /ko -->
					<!-- /ko -->
					<div class="row buttons">
						<button type="submit" tabindex="3" class="button login" data-bind="text: signupButtonText, command: signupCommand"></button>
					</div>
				</form>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="vhelper"></div>
	<div class="bottom_description" data-bind="visible: sBottomInfoHtmlText !== '', html: sBottomInfoHtmlText"></div>
</div>
